<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">




    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>by.myfirstweb.test.controller.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>

        <session-config>
            <session-timeout>10</session-timeout>
        </session-config>
<!-- -->

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

        <filter>
            <display-name>CharsetFilter</display-name>
            <filter-name>CharsetFilter</filter-name>
            <filter-class>by.myfirstweb.test.filter.CharsetFilter</filter-class>
            <init-param>
                <param-name>characterEncoding</param-name>
                <param-value>UTF-8</param-value>
            </init-param>
        </filter>
        <filter-mapping>
            <filter-name>CharsetFilter</filter-name>
            <url-pattern>/FrontController</url-pattern>
        </filter-mapping>

    <servlet>
        <servlet-name>Admin</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin/admin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registration</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin/registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>Error</servlet-name>
    <jsp-file>/WEB-INF/jsp/util/error.jsp</jsp-file>
</servlet>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>view_user</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin/viewUser.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>view_user</servlet-name>
        <url-pattern>/view_user</url-pattern>
    </servlet-mapping>
<!--
        <servlet>
            <servlet-name>ApplicationViewAdmin</servlet-name>
            <jsp-file>/WEB-INF/jsp/admin/admin.jsp</jsp-file>
        </servlet>

        <filter>
            <display-name>AdministratorSecurityFilter</display-name>
            <filter-name>AdministratorSecurityFilter</filter-name>
            <filter-class>by.myfirstweb.test.filter.AdministratorSecurityFilter</filter-class>
            <init-param>
                <param-name>characterEncoding</param-name>
                <param-value>UTF-8</param-value>
            </init-param>
        </filter>

        <servlet-mapping>
            <servlet-name>ApplicationViewAdmin</servlet-name>
            <url-pattern>/appViewAdmin</url-pattern>
        </servlet-mapping>
        <filter-mapping>
            <filter-name>AdministratorSecurityFilter</filter-name>
            <url-pattern>/appViewAdmin</url-pattern>
        </filter-mapping>
-->
        <listener>
            <listener-class>
                by.myfirstweb.test.listner.ConnectPoolListener
            </listener-class>
        </listener>
    <!-- -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>